.confidality-container {
    padding: 20px;
    max-width: 600px;
    margin-top: 60px;
    
  }
  
  .confidality-container h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  
  .confidality-container form {
    display: flex;
    flex-direction: column;
  }
  
  .radio-group {
    display: flex;
    flex-direction: column;
  }
  
  .radio-group label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .accept-button {
    background-color: #ff7f50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
  }
  